<component name="ArtifactManager">
  <artifact type="war" name="mybatis-pro:war">
    <output-path>D:/SpringDemo/mybatispro/target</output-path>
    <root id="archive" name="mybatis-pro-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="mybatis-pro:war exploded" />
    </root>
  </artifact>
</component>